USE [master]
GO
/****** Object:  Database [PRNProject111]    Script Date: 3/17/2024 8:58:14 PM ******/
CREATE DATABASE [PRNProject111]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRNProject111', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PRNProject111.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRNProject111_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PRNProject111_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRNProject111].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRNProject111]
GO
/****** Object:  Table [dbo].[Bookable_periods]    Script Date: 3/17/2024 8:58:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookable_periods](
	[labID] [int] NOT NULL,
	[week_day] [varchar](50) NOT NULL,
	[slotID] [int] NOT NULL,
	[no_available_computers] [int] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Labs]    Script Date: 3/17/2024 8:58:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Labs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[lab_address] [varchar](255) NULL,
	[no_computer] [int] NULL,
 CONSTRAINT [PK_Labs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 3/17/2024 8:58:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[lab_id] [int] NOT NULL,
	[week_day] [varchar](50) NOT NULL,
	[slot_id] [int] NOT NULL,
	[std_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 3/17/2024 8:58:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[std_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[address] [varchar](255) NULL,
	[phone_number] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[std_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Time_slots]    Script Date: 3/17/2024 8:58:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Time_slots](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[from_time] [time](7) NULL,
	[to_time] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Week_days]    Script Date: 3/17/2024 8:58:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Week_days](
	[week_day] [varchar](50) NOT NULL,
	[date] [date] NULL,
 CONSTRAINT [PK__Week_day__2080B8207F2541C7] PRIMARY KEY CLUSTERED 
(
	[week_day] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Week_days] ([week_day], [date]) VALUES (N'monday', CAST(N'2024-03-18' AS Date))
GO
ALTER TABLE [dbo].[Bookable_periods]  WITH CHECK ADD  CONSTRAINT [FK__Bookable___week___2D27B809] FOREIGN KEY([week_day])
REFERENCES [dbo].[Week_days] ([week_day])
GO
ALTER TABLE [dbo].[Bookable_periods] CHECK CONSTRAINT [FK__Bookable___week___2D27B809]
GO
ALTER TABLE [dbo].[Bookable_periods]  WITH CHECK ADD  CONSTRAINT [FK_Bookable_periods_Labs] FOREIGN KEY([labID])
REFERENCES [dbo].[Labs] ([id])
GO
ALTER TABLE [dbo].[Bookable_periods] CHECK CONSTRAINT [FK_Bookable_periods_Labs]
GO
ALTER TABLE [dbo].[Bookable_periods]  WITH CHECK ADD  CONSTRAINT [FK_Bookable_periods_Time_slots] FOREIGN KEY([slotID])
REFERENCES [dbo].[Time_slots] ([id])
GO
ALTER TABLE [dbo].[Bookable_periods] CHECK CONSTRAINT [FK_Bookable_periods_Time_slots]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK__Reservati__slot___32E0915F] FOREIGN KEY([slot_id])
REFERENCES [dbo].[Time_slots] ([id])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK__Reservati__slot___32E0915F]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK__Reservati__std_i__33D4B598] FOREIGN KEY([std_id])
REFERENCES [dbo].[Students] ([std_id])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK__Reservati__std_i__33D4B598]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK__Reservati__week___31EC6D26] FOREIGN KEY([week_day])
REFERENCES [dbo].[Week_days] ([week_day])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK__Reservati__week___31EC6D26]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_Labs] FOREIGN KEY([lab_id])
REFERENCES [dbo].[Labs] ([id])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_Labs]
GO
USE [master]
GO
